<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318509664389-pd846al3v906gk9c9ufmk9r0r2cf3d2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318509664389-pd846al3v906gk9c9ufmk9r0r2cf3d2f</string>
	<key>API_KEY</key>
	<string>AIzaSyB_Lv4i__F0jM5d_449cLfvEICZcshyZCY</string>
	<key>GCM_SENDER_ID</key>
	<string>318509664389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>p.w.LoginScreen</string>
	<key>PROJECT_ID</key>
	<string>loginscreen-c068a</string>
	<key>STORAGE_BUCKET</key>
	<string>loginscreen-c068a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318509664389:ios:f03a6299444094e67041ec</string>
</dict>
</plist>